
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #51ad6d;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


    .btn-outline-success {
        width: 120px; /* ajusta el ancho según tu preferencia */
        height: 45px; /* ajusta la altura según tu preferencia */
    }
    
.destino {
    width: 240px;
    margin: 16px;
    padding: 15px;
    background-color: #e7fae6; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.destino h2 {
    color: #91cf8f; 
}

.destino p {
    margin-top: 15px ;
    color: #333333;
    font-size: 14px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.content-margin {
    margin: 50px 0;
    width: 100%;
}


.colorp{
    color:rgba(57, 194, 93, 0.8);
    font-size: 2.5em; /* Ajusta el tamaño según el nivel del título deseado */
    font-weight: bold; 
}

.table-container {
    max-width: 1000px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #51ad6d; /* Borde exterior */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  thead th {
    background-color: #51ad6d; /* Fondo de encabezado */
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Tipografía para los encabezados */
    padding: 12px;
    text-align: center;
  }
  
  .header-id,
  .header-hour,
  .header-payment {
    width: 20%; /* Ancho igual para estas columnas */
  }
  
  .custom-table td {
    border: 1px solid #51ad6d; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif; /* Tipografía para el contenido */
  }
  
  .table-row:nth-child(even) {
    background-color: #f7f9fc; /* Fondo alternativo para filas pares */
  }
  
  .table-row:hover {
    background-color: #e7fae6; /* Fondo al pasar el cursor */
  }
  
  .table-row:not(:first-child) {
    border-top: 2px solid #51ad6d; /* Bordes entre las filas */
  }
  