.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #51ad6d;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


    .btn-outline-success {
        width: 150px; /* ajusta el ancho según tu preferencia */
        height: 75px; /* ajusta la altura según tu preferencia */
    }
    
.destino {
    width: 200px;
    margin: 20px;
    padding: 15px;
    background-color: #e7fae6; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.destino h2 {
    color: #91cf8f; 
}

.destino p {
    margin-top: 15px ;
    color: #333333;
    font-size: 14px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.content-margin {
    margin: 50px 0;
    width: 100%;
}
table {
    width: 100%;
}

.colorp{
    color:rgba(57, 194, 93, 0.8);
    font-size: 2.5em; /* Ajusta el tamaño según el nivel del título deseado */
    font-weight: bold; 
}
  