
<div class="container">
    <h1>¿Que quieres hacer?</h1>
    <div class="destinos">
        <div class="destino">
            <a type="button" class="btn btn-outline-success" href="/mostrarEmp">Gestionar Empleado</a>
            <p>Aqui podras ver, crear, actualizar y eliminar empleados</p>
        </div>
        <div class="destino">
            <a type="button" class="btn btn-outline-success" href="/empleadoPerfil">Gestionar Perfil Empleado</a>
            <p>Aqui podras acceder a la informacion del perfil de los empleados</p>
        </div>
        <div class="destino">
            <a type="button" class="btn btn-outline-success" href="/pagVac_lic">Gestionar Vacaciones y Licencias</a>
            <p>Aqui podras administrar las licencias y vacaciones de los empleados</p>
        </div>
        <div class="destino">
            <a type="button" class="btn btn-outline-success" href="/evaluacion">Realizar Evaluacion</a>
            <p>Aqui realizar las evaluaciones de los empleados</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
