/* Estilos CSS ajustados para el segundo componente */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #51ad6d;
}

.destinos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centramos los elementos */
  gap: 20px; /* Agregamos un espacio entre los elementos */
}

.destino {
  width: 200px;
  margin: 20px;
  padding: 15px;
  background-color: #e7fae6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.destino select,
.destino input[type="number"] {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 2px solid #51ad6d;
    border-radius: 5px;
    background-color: #e7fae6; /* Mismo color de fondo que los botones */
}

.destino select:focus,
.destino input[type="number"]:focus {
    border-color: #81C784;
    box-shadow: 0 0 8px rgba(129, 199, 132, 0.3);
}


.button-container {
  text-align: center;
  margin-top: 20px; /* Ajustamos el margen superior */
}

.button-container .btn {
  width: 150px;
  padding: 10px;
  border: 2px solid transparent; /* Quitamos el borde */
  border-radius: 5px;
  background-color: #e7fae6; /* Color de fondo */
  transition: background-color 0.3s, color 0.3s; /* Agregamos una transición */
}

.button-container .btn:hover {
  background-color: #51ad6d; /* Cambiamos el color de fondo al pasar el ratón */
  color: white; /* Cambiamos el color del texto al pasar el ratón */
}

.container .p {
  margin-top: 15px ;
    color: #333333;
    font-size: 14px;
}
.colorp{
  color:rgba(57, 194, 93, 0.8);
  font-size: 2.5em; /* Ajusta el tamaño según el nivel del título deseado */
  font-weight: bold; 
}

.table-container {
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #51ad6d; /* Borde exterior */
  border-radius: 10px; /* Bordes redondeados */
}

thead th {
  background-color: #51ad6d; /* Fondo de encabezado */
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif; /* Tipografía para los encabezados */
  padding: 12px;
  text-align: center;
}

.header-id,
.header-salary,
.header-month {
  width: 25%; /* Ancho igual para todos los encabezados */
}

.custom-table td {
  border: 1px solid #51ad6d; /* Bordes de las celdas */
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif; /* Tipografía para el contenido */
}

.table-row:nth-child(even) {
  background-color: #f7f9fc; /* Fondo alternativo para filas pares */
}

.table-row:hover {
  background-color: #e7fae6; /* Fondo al pasar el cursor */
}

.table-row:not(:first-child) {
  border-top: 2px solid #51ad6d; /* Bordes entre las filas */
}

